@import url(https://fonts.googleapis.com/css?family=Montserrat);

body,
html {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

input {
	display: block;
	padding: 0;
	border: none;
	background: none;
	height: 30vh;
	padding-right: 6vh;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

.row {
	display: flex;
	padding-bottom: 4vh;
}

.input-wrapper {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 1vh;
}

h1 {
	font-size: 40px;
	color: #7b7b78;
	font-family: Optima, Helvetica, sans-serif;
	text-align: center;
    position: sticky; top: 0;
	background-color: #ebebe9;
	padding-bottom: 20px;
	padding-top: 20px;
}

h2 {
	font-size: 35px;
	color: #4b4b49;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
}

p {
	font-size: 20px;
	color: black;
	text-align: justify;
}

#nightmode {
	text-align: right;
}

#nightref {
	color: black;
	text-decoration: none;
	font-size: 60px;
}

body {
	background-color: #ebebe9;
	padding-left: 8rem;
	padding-right: 8rem;
	padding-top: 1rem
}

img {
	border: 25px solid white;
}

p {
	float: justify;
}

iframe {
	border: 25px solid white;
}

.right {
	flex-basis: 70%;
	order: 2;
}

.text {
	padding-left: 20px;
}

.grid-item-1 {
	background-color: white;
	display: flex;
	grid-column: 1/-1;
	padding: 4rem;
	border-radius: 30px;
	box-shadow:
		0.3px 0.5px 0.7px hsl(23deg 93% 31% / 0.36),
		0.8px 1.6px 2px -0.8px hsl(23deg 93% 31% / 0.36),
		2.1px 4.1px 5.2px -1.7px hsl(23deg 93% 31% / 0.36),
		5px 10px 12.6px -2.5px hsl(23deg 93% 31% / 0.36);
}
